/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-24, 20:45:49
    Author     : agataj
*/

.textField:doubleError {
    -fx-border-color: red;
    -fx-border-width: 2px;
}